:root{
    //Colors
    --primary:#005A81;
    --secondary:#3FA4C7;
    --tertiary:#FE8215;
    --brightContrast:#F7F4F3;
    //Fonts
    --fontHero:65px;
    --fontSubheading:22px;
    --fontParagraph:18px;

    font-family: 'Raleway';
    
}