@import 'vars';
.activityCard{
    background-color: var(--primary) ;
    padding:4px 8px 4px 8px;
    border-radius: 8px;
    height:205px;
}

.activityCard .activityTitle{
    font-size: 22px;
    color:var(--brightContrast);
    font-family: 'Raleway';
    font-weight: 800;
}

.activityCard .activityTitle:first-letter{

    text-transform: capitalize;
}


.activityCard .activityDescription{
    font-size: 14px;
    color:var(--brightContrast);
    font-family: 'Raleway';
}

.activityCard .activityDescription:first-letter{
    text-transform: capitalize;
}

.activityCard .activityLevel{
    font-size: 14px;
    color:var(--brightContrast);
    font-family: 'Raleway';
    position:absolute;
}